<%- include('pantalla_empresa/header'); %>

<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos de la Oferta Laboral</h3>
          </div>
              <form action ="../mioferta-edit/<%=ol_id%>" method="POST">
                <div class="card-body">
                  
                  <div class="form-group">
                    <label>Descripción</label>                    
                    <textarea name="ol_descripcion" cols="30" rows="5" class="form-control" placeholder="Ingrese descripción"><%=ol_descripcion%></textarea>
                  </div>
                  <div class="form-group">
                    <label >fecha inicio</label>
                    <input name="ol_fecha_inicio" value="<%=ol_fecha_inicio%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>
                  <div class="form-group">
                    <label >fecha fin</label>
                    <input name="ol_fecha_fin" value="<%=ol_fecha_fin%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>
                  <div class="form-group">
                    <label >Estado</label>
                    <input name="ol_estado" value="<%=ol_estado%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>
                  <div class="form-group">
                    <label >Salario</label>
                    <input name="ol_salario" value="<%=ol_salario%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>
                  <div class="form-group">
                    <label >Jornada Laboral</label>
                    <input name="ol_jornada_laboral" value="<%=ol_jornada_laboral%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>
                  <div class="form-group">
                    <label >Turno</label>
                    <input name="ol_turno" value="<%=ol_turno%>" class="form-control"  placeholder="Imgrese nombre">
                  </div>

                </div>
                <!-- /.card-body -->
 <!-- /.card-body -->
 <div class="card-footer">
  <button type="submit" class="btn btn-primary">Actualizar</button>
  <a href="../mioferta" class="btn btn-secondary">Cancelar</a>
</div>
</form>
</div>
<!-- /.card -->
</div>
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<%- include('pantalla_empresa/footer'); %>